[2012-12-08 16:26] gschrader opened #1 "Zone labels"
I only have 8 zones but I still can't remember what they are.  It would be nice if you could specify them in the config file and they are returned as part of the json.

[2012-12-08 16:27] gschrader opened #2 "Active partitions and zones"
Being able to specify which are active or not and only return active entries in the json.

[2012-12-08 16:30] gschrader opened #3 "disarm code as a rest parameter"
the /api/alarm/disarm endpoint should have an optional code param which could be used if one didn't want to store the code in the config file.

[2012-12-08 16:37] gschrader opened #4 "Template engine"
I'm thinking that some people will probably want different web pages depending on their use.  Using a template engine to server the html would make it easy for people to customize.  I know you said you didn't wanted to limit the modules you're using but maybe this is still worth the added dependency.

I'm thinking pystache might be a good choice: https://github.com/defunkt/pystache

Mustache seems

[2012-12-11 06:56] #1 closed, assigned to juggie

[2012-12-11 16:35] #2 closed, assigned to juggie

[2012-12-14 00:00] #4 closed, assigned to nobody

[2012-12-14 00:00] #3 closed, assigned to juggie

[2012-12-14 13:28] juggie opened #7 "Questions/Comments"
The ui looks like a great start... I have a couple of comments/questions.

-Does it show multiple partitions? If multiple have names?
-On the zone list on the left, can you make it more like tabs on the side, eg create a default zone called 'All' (with no light) and that should be selected by default and show all events.  Rather then have the events as a pop up, how about putting them in all that

[2012-12-14 20:31] juggie opened #8 "Add HTTPS"

[2012-12-14 20:32] juggie opened #9 "Add some form of authentication"

[2012-12-15 06:25] #8 closed, assigned to juggie

[2012-12-16 03:55] juggie opened #10 "Event time for zones/partitions"
The event time showing how long ago is cool but two requests.

1) could it be an option in case some people do not like it.
2) could you do a hover for the alternate.  Eg, now if I mouse over '2 minutes ago' could it show the real time.  If it was running in the other mode (showing real time) and I hover, it could show, 2 minutes ago. etc.

How does that sound?

[2012-12-16 18:12] gschrader opened #11 "Issue with datetime of events"
I've noticed that datetime is wrong on some entries, I think they be shifted by on entry or something.

[2012-12-16 19:11] #11 closed, assigned to nobody

[2012-12-16 20:49] #10 closed, assigned to juggie

[2012-12-17 06:41] #7 closed, assigned to gschrader

[2012-12-17 06:42] juggie opened #12 "Open/Closed status in tabs"
Show open/closed armed/disarmed status in tabs on left of gui as it was before the revamp.

[2013-07-09 06:52] gschrader opened #17 "mobile view (index.html) issues"
- the page refreshes have noticeable flicker
- on iOS the events aren't reversed for some reason
- mobile.html disables the auto refresh, not sure if I should add that to index.html or not

I'm looking for more feedback on this view to see if it can replace mobile.html, let me know what you guys think.

[2013-07-13 21:15] gschrader opened #18 "Tooltips are buggered"
Something is wrong with the bootstrap tooltips, the one I added to the auto-refresh doesn't appear at all and the one for the timestamps look to be drawn twice or something.

[2013-07-13 21:18] gschrader opened #19 "Icon"
I'd like to have an icon for iOS as outlined here: http://developer.apple.com/library/ios/#documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html

I assume Android has something similar that we could add as well.

[2013-07-16 03:09] #18 closed, assigned to nobody

[2013-07-16 03:17] #12 closed, assigned to gschrader

[2014-01-29 07:11] pixiandreas opened #20 "Wiki how to use alarmreceiver as a "proxy" server"
I wonder how to set this up, any idea ???

[2014-01-31 15:44] dsc-elvey-za opened #21 "Partition Status not able to switch from P1"
After arming the alarm system the green status icon stays green until you restart the server ? anyone else have this issue ?

Robin
![screen shot 2014-01-31 at 5 42 16 pm](https://f.cloud.github.com/assets/5955049/2051791/82f77c10-8a8e-11e3-9121-7e95731a9c76.jpg)

[2014-03-11 01:18] juggie opened #22 "Update"
Bonjour,

I have been away for a while (funny how life gets busy) but i'd like to clean this project up a little and start doing some more things with it.  Authentication is definitely a priority, and there are other items as well.  I'll be away for a few weeks on vacation but I will pick this up again when I return.

[2014-03-12 11:02] pixiandreas opened #23 "Add trigger function to alrmaserver"
Hello i am start to use my sensors to trigger actions in my home.
It would be perfect if it possible to add a trigger function to alarmserver

example:
When  Zone 1 goes to open execute a script/http request/mail/ and more

[2014-05-22 00:27] kholloway opened #24 "Smartthings - Where should I put it?"
I'm going to be adding more functionality to the AlarmServer in the form of SSDP/UPNP stuff specifically for Smartthings but could be used for something else. Specifically this will make discovery of zones easy for a revamped DSC Smart App I'm working on which will completely remove the manual configuration I previously had to use. This will also include registered callbacks which the smart app ca

[2014-07-21 17:35] gschrader opened #26 "Contributors"
I notice most pull requests add a line to the alarmserver.py to add themselves to the contributors.  I think this is probably redundant since github has a nice [page](https://github.com/juggie/AlarmServer/graphs/contributors) already that keeps track of that.

Should that section in the file be removed, or should we add everyone else that is missing?

[2014-07-21 18:57] #19 closed, assigned to nobody

[2014-07-21 19:07] #20 closed, assigned to nobody

[2014-07-23 18:25] djrobinsa opened #27 "Armed Status"
Hey guys,

The Armed status still does change when arming the from the page ?

Any ideas ?

Used chrome as well as Safari

[2014-08-01 18:04] #26 closed, assigned to nobody

[2014-12-06 19:26] Ltek opened #28 "How to run on Synology?"
Anyone know how to run this on a Synology? Ideally I'd like to see a pre-built package but I'm not opposed to a manual install... I'm not a Linux guy but I can edit cfg files and use SCP :)

thanks for the help!

[2015-01-15 17:39] #28 closed

[2015-01-25 23:14] pbxip commented on #23
Yes it will be great to have triggers

[2015-04-01 04:58] ekw opened #30 "Disconnected after login sequence"
I always get disconnected after the login sequence.  Any idea why?  I am able to telnet into my Envisalink and send/receive commands fine.  I'm running AlarmServer on Python 2.7.3 on Debian Linux kernel 3.8.13 on a beaglebone black.

Mar 31 21:52:00 alarmserver INFO: Using configuration file alarmserver.cfg
Mar 31 21:52:00 alarmserver INFO: ------------------------------
Mar 31 21:52:00 alarmserve

[2015-04-02 23:24] kholloway commented on #30
I had this issue when I first started and all I had to do was manually login one time via the TPI port using Telnet and then disconnect. After that the Python stuff started working properly as did anything else I tested.

[2015-04-03 03:13] ekw commented on #30
I telnetted in, but still have the same problem.

[2015-05-17 00:33] pbxip opened #31 "Send Notification"
Hi,
I did a little modification in order to have the pushing notification used.
I was wondering if I can send it to you in some way.

Michele

[2015-07-02 23:47] coolcatiger opened #32 "arm / disarm not working"
I have smarthings branch

when try this from browser https://192.168.1.xxx:8111/api/alarm/armwithcode?alarmcode=xxxx
I see request reaching server, but my system does not arm and web page says "can not open page"

Am I missing something?

[2015-07-15 00:38] alexruffell commented on #30
I had a similar issue and it was due to more than one application trying to access Envisalink. Make sure the python script is the only thing accessing it. I deleted the device from my eyez-on account but I can't recall if that was necessary or just a troubleshooting step I did to get it working... either way I had no use for it.

[2015-08-08 11:16] cchighman commented on #30
That's a pretty nasty bug, getting dropped like that.

2015-08-08 06:32:59 RX < 609 - Zone 028 Open
2015-08-08 06:32:59 RX < 510 - Keypad Led State - Partition 1
2015-08-08 06:32:59 RX < 651 - Partition Home Not Ready
2015-08-08 06:33:22 RX < 511 - Keypad Led Flash State - Partition 1
2015-08-08 06:33:22 Disconnected from 192.168.0.201:4025
2015-08-08 06:33:22 Connection failed, retrying in 10 sec

[2015-08-24 19:04] carloss66 commented on #30
I am experiencing the same bug.

[2015-11-19 20:47] javier-jimenez commented on #31
Create a pull request, I'm sure enhancements are welcome.

[2015-12-17 13:47] autumnwalker commented on #27
Looks like I am having the same issue. I have provided a screenshot below.

I used the API to disarm the alarm (`/api/alarm/disarm`) and it worked as expected. I tried to use the API to re-arm the alarm (`/api/alarm/arm`) and it did re-arm according to the Envisalink 3 status page, but as you can see from my screenshot the partition status on the alarm server page is showing "ready" and appears to

[2015-12-17 15:11] autumnwalker commented on #32
is there anything in your output.log file?

[2015-12-17 15:52] autumnwalker commented on #27
Related: https://github.com/juggie/AlarmServer/issues/21

[2016-01-07 23:06] gschrader commented on #27
My memory might be wrong but that image is for the partition status not for the armed status.

[2016-01-08 15:25] autumnwalker commented on #27
If that is the case, shouldn't it show that the main partition is "not ready" when it is armed? The physical panel does not indicate ready when armed.

[2016-02-14 19:13] juggie opened #33 "WIP: Tornado"
@kholloway @gschrader FYI, in the process of rewriting this on python-tornado.  See the branch if interested.

[2016-02-17 01:44] juggie commented on #33
Mostly done, some loose ends.  I noticed a JS bug which is in the master code as well.  If a new event appears, the selected zone,tab will refresh to empty.  Clicking the zone/partition again loads the proper information.

[2016-02-17 02:05] juggie commented on #33
@kholloway @gschrader Now that its based on tornado and i've rewritten the envisalink module to use a separate state module, I can easily add events over websocket (or any other kind of publisher, redis, amqp, etc).  I've have not re-enabled the envisalink proxy support yet and I am also going to add a extendable system of some sort for addons, be it for notifications, etc.  It should also be triv

[2016-02-18 03:40] juggie commented on #23
Old ticket, but as part of rewrite in tornado branch, I am about to add a plugin system which will provide triggers.  Stand by.

[2016-02-18 04:24] juggie commented on #23
Basic event system added.  Plugin system to follow.

[2016-02-18 07:05] juggie commented on #23
Done, you can hang off 3 kinds of events.  'zone', 'partition', 'statechange'.

[2016-02-18 17:28] gschrader commented on #33
@juggie nice work, it would make sense to send the updates to the ui with websockets, I'm not sure when I'll have a chance to look at this though.

[2016-02-18 17:29] juggie commented on #33
Yeah totally it would be trivial to add a websocket now.  Its on my to do
list.
On Feb 18, 2016 12:28 PM, "Glen Schrader" <notifications@github.com> wrote:

[2016-02-18 19:17] juggie commented on #33
BTW, plugins are done and can hang off 3 kinds of events (currently).

[2016-02-19 02:09] juggie commented on #33
@gschrader Any thoughts on how to best apply some sort of intelligent event filtering configurable by each plugin?

I think the filter should be pushed up to the event code so each plugin doesn't need to implement it and only needs to register what they want.  However, i'd like to do it in a generic way that isn't specifically tied to envisalink codes or anything like that.  Maybe I need to update

[2016-02-19 04:25] gschrader commented on #33
Does it matter if the plugins get every event and they can decide if they care about it or not?

[2016-02-19 04:28] juggie commented on #33
Well, from a code standpoint it is certainly preferable to not have to write the same code in every plugin.

[2016-02-21 02:43] juggie commented on #31
Plugin/Notification system has been added in tornado branch, feel free to extend.

[2016-02-21 02:43] #31 closed

[2016-02-21 02:45] juggie commented on #23
Filtering added to event system.  You can filter out zones/partitions you wish to ignore when you register an event to listen to.  In order to do what you want, you'll need to add plugins into plugin folder.  See pushover plugin for an example.  Additional plugins are welcome.

[2016-02-21 02:45] #23 closed

[2016-02-21 02:46] #22 closed

[2016-02-21 03:43] juggie commented on #21
@dsc-elvey-za I've been rewriting all this to make it much better but I don't have a partition system to test on.

[2016-02-21 03:45] juggie commented on #33
@gschrader Done, pushed filtering to events layer and now the plugin can chose which events it would like to filter which is done by the events layer before calling the plugin.  Currently supported is filtering of zone and partition events only on a zone or partition basis, eg zone 1 or partition 1.

[2016-02-21 03:46] juggie commented on #30
@carloss66 @cchighman I haven't experienced this issue but I'll try forcefully kicking the envisalink off my network and confirm with the new code I've been working on that it is able to re-connect gracefully.

[2016-02-21 03:49] juggie commented on #30
Btw, can you both try my new branch (feature/tornado) and see if it is still happening? That branch isn't 100% feature complete yet but the networking code is totally rewritten.

[2016-02-21 04:33] juggie commented on #21
@dsc-elvey-za Looking at the code the arm/disarm/etc hooks are all hard coded to partition 1 only.

I'll fix this, assume partition=1 where no partition is provided and push the code soon.  I won't be able to update the GUI quickly (or easily) as I am not a gui guy, but the endpoint eg /API/arm or /API/disarm will all accept a partition when I am done.

[2016-02-21 04:43] juggie commented on #21
K, done.  You  can test by going to https://server:8111/api/alarm/stayarm?partition=2

It works via api, but it is not exposed via the gui.  The buttons in the gui will continue to operate partition 1 only unless someone is able to update it for me.

[2016-02-21 04:45] juggie commented on #21
@dsc-elvey-za BTW, this code only exists in feature/tornado branch.  You'll need python-tornado modules installed.  I can backport the fixes to the old branch if absolutely necessary, but i'm using tornado going forward for http/https/sockets in python.  If you are not familiar with how to install python modules (via pip) see here for instructions: http://www.tornadoweb.org/en/stable/

[2016-02-21 04:48] juggie commented on #27
This was a bug in envisalinkdefs.py such that the handler for code: 652 (which was presented when you changed state from disarmed ->  armed) did not properly set ready: False.  It's fixed in my new branch (feature/tornado).  You'll need python tornado installed, see here http://www.tornadoweb.org/en/stable/ if you are not familiar with how to install python modules.

[2016-02-21 06:47] cchighman commented on #30
I can try this.  I've had great luck with my AlarmServer having literally
months of uptime.  I'll compare.  How does one get involved with making
submissions to community branches?  We use Perforce at work but I haven't
ever submitted to an open source branch before.

On Sat, Feb 20, 2016 at 10:49 PM, juggie <notifications@github.com> wrote:

[2016-02-21 07:02] cchighman commented on #30
The error handling and sanity checks I had to add aren't present in the new version (implementation in Envisalink.py).  I found there were places where it was important to verify state before moving forward.  Particularly in handle_event.  My uptime is rediculous now and I have other devices accessing Envisalink, still able to maintain a persistent connection.

Attached below what I use (AlarmServ

[2016-02-21 07:31] juggie commented on #30
Hey @cchighman you would want to look into git (the source control used by github).  I don't know if you use windows, or linux, etc but instructions would differ slightly based on the platform.

In essence, you would take my code, fork it into your own github account.  Make your changes and then submit a pull request.

I took a look at the file you attached but it's against a old early 2014 versio

[2016-02-21 08:04] cchighman commented on #30
I found my previous comments to people on SmartThings forums.  I added a couple checks to make sure self._isloggedin == True.  I also recall adding try/catch in a couple other places such as handle_line or found_terminator in the older version.  Without running with the new version just yet, I just notice the same method is used in envisalink and doesn't check if logged in, which was tied to the u

[2016-02-21 15:08] juggie commented on #30
@cchighman Ok great thanks, I'll take a look in the new code base, test, and make sure disconnections are handled properly.  self._isLoggedin isn't even used for anything to be honest, it could be removed.  handle_login is called when the login event is received, which is what envisalink sends when you connect.

[2016-02-21 17:26] juggie commented on #30
@cchighman I played around with connect/disconnects this morning and made some improvements to the networking code.  There are no doubt still more places I might have to catch some exceptions to handle loss of the connection though as I only dealt with handle_connect() this morning.  Will need more testing, handle_line and send_command would be the two other functions I need to look at.

[2016-02-21 22:55] juggie commented on #30
@cchighman I got the other two functions now and was able to force network failures without issue.  All network io operations now have exceptions wrapped around them however they just silence the errors.  In the case of tornado since there is a connection lost callback defined, that code automatically handles it so there is no special code required with the exception of handle_connect.

[2016-02-22 04:36] juggie commented on #33
Re-added proxy support, tested lightly.

[2016-02-23 04:48] juggie commented on #9
Done, basic auth w/ single username and password.  Password stored in config as sha1.  Needs example in example config.

[2016-02-23 04:49] juggie commented on #9
It will also default to no auth if one or both of username or password isn't set

[2016-02-24 05:59] juggie commented on #33
Pushbullet support also added. (Joining pushover) As two supported push notification services.

[2016-04-19 21:53] juched78 opened #34 "Shows incorrect time/date"
Playing with the new Tornado version and found that on startup my events were always "in 4 hours".  I am EST timezone.

I found that by changing the lines in state.py to:

                  'datetime' : str(datetime.datetime.now().strftime("%Y-%m-%dT%H:%M:%SZ")),

By Adding a T inbetween and adding the Z on the end, this builds a proper ISO standard which indicates UTC timezone.  Now the web page

[2016-04-19 21:55] juched78 opened #35 "Not loading conffile in new Tornado Version"
I found that the new Tornado version doesn't properly load the conffile.  I took from the old branch and simplified and added this code to the main function right after the set default config line:

    #set default config
    conffile='alarmserver.cfg'

    try:
        opts, args = getopt.getopt(argv, "c:", ["config="])
    except getopt.GetoptError:
        sys.exit(2)
    for opt, arg in opts:

[2016-04-20 00:13] juggie commented on #35
Thanks for your fix.  You are right that when I did the rewrite I did not add the cli parameters for overriding the config!  Thanks for your fix.

Have you used git much?  While in this case your code change was very easy to integrate, sometimes things are not so simple.  If you forked a copy of my code into your own repo, you would be able to commit back to it and then open a pull request with yo

[2016-04-20 00:13] juggie commented on #34
Fixed.

[2016-04-20 00:16] juched78 opened #36 "Logging in Tornado version doesn't write to file"
Noticed that after I setup this server on my router (running Tomato by Shibby) and running this as a service in the background I had no way to figure out why my pushover alerts were not working (turns out that was because I didn't have the updated CA certs so SSL filed, a quick opkg install ca-certificates fixed that).

So, I made some updates to the attached files to NOT use the logger class for

[2016-04-20 00:25] juched78 commented on #35
I have not used git before.  I will learn and see how to do this so I can make it easier to submit.

thank you for creating this server.  Having fun using it.

[2016-04-20 00:28] juggie commented on #35
It's no problem, take a look it does make things quite easy.  You will have to fork the code into your own github user, then you can use git to check the code out to your machine.  Make changes/commits, and when you are happy you can submit a pull request (which basically notifies me you have changes you wish to merge with my code).  It's very simple once you try it.  Let me know if you have any q

[2016-04-20 04:05] #34 closed

[2016-04-20 04:05] #35 closed

[2016-04-20 05:46] juched78 opened #37 "Plugins do not load if current working directory is not the folder with alarmserver.py"
One more quick one.  If the current working directory is not the same as the folder with alarmserver.py, then the plugin code doesn't find the plugin folder and no plugins work.

This occurs when you run the python script as a service (using start-stop-daemon).

The fix is to get the current directory of the alarmserver.py file (not the current working directory) and to build the search for plugin

[2016-04-20 05:47] juched78 commented on #37
I will try to setup git tomorrow.

[2016-04-21 01:53] juggie commented on #37
Thanks would be happy to have you contribute and git would make it easier!

[2016-04-23 17:26] juggie commented on #37
Your code change was committed.

[2016-04-23 17:26] #37 closed

[2016-04-28 02:59] JoshNoble8604 opened #38 "Tornado version for SmartThings?"
I am a novice at this and seem to be spiraling down the rabbit hole. Now that I have spent days to figure out how to deploy all the prerequisites, host VMs on my desktop, and register SSL certificates, I am now get the following error when I try to run alarmserver.py from the SmartThing branch.

Print sys.exc_info()[0]
The error is on line 415

Is the new Tornado version compatible with SmartThing

[2016-04-28 03:53] juggie commented on #38
Which branch specifically are you seeing the error in?  Smartthings branch I assume?  That was written by @kholloway I personally don't own smartthings or have any smartthings devices, etc.

The new version I rewrote recently (tornado) would allow easy integration with smartthings but lacking a device I haven't written anything.  I'd be happy to try and help, but without access to the smartthings

[2016-05-01 22:22] JoshNoble8604 commented on #38
Hi @juggie, yes I am trying to deploy the alarm server from the SmartThings branch. I just emailed @kholloway as well. I believe my immediate challenge is to figure out why line 415 of this file gives me a syntax error when deploying.

https://github.com/juggie/AlarmServer/blob/smartthings/alarmserver.py

I do not know Python, so I don't know where to start. Does anything jump out at you?

The las

[2016-05-02 13:09] kholloway commented on #38
That's a Python 3 error since print is now a function instead of a statement. You can easily fix it by wrapping the print function in ()'s as in '''print (sys.exec()[0])''' OR you can downgrade your Python to version 2 since 3 isn't really tested or supported yet on this code.

https://docs.python.org/3.0/whatsnew/3.0.html

[2016-05-06 03:10] vinodmudedla opened #39 "Instruction for installing Alarm Server either in Windows or Rasberrypi"
This is not an issue but I dont know where to publish this question, Please let me know how to install the Alarm server with code provided in this post to configure DSC alaram with Smart things. I am using Envisalink 4 for this setup.

[2016-05-11 18:34] ikishk opened #40 "feature req/help: TZ configurable (tornado branch)"
Timezone awareness?

So far I've done the following:
alarmserver.cfg, line 11:
logurlrequests=True

**## Timezone, UTC default
timezone="America/Chicago"**

config.py, line 18:
        config.LOGURLREQUESTS = ....
        **config.ASTZ = config.read_config_var('alarmserver', 'timezone', 'UTC', 'str')**
        config.HTTPSPORT = .....

state.py, line 1:
**#**import datetime
**from datetime import

[2016-05-19 17:12] the-right-solution opened #41 "plugins"
Any documentation on how to get started with the plugins?

[2016-05-19 17:28] juggie commented on #41
Take a look at the tornado branch.  I wrote a quick plugin architecture
there but it's not super documented.  There are several examples however.

On Thu, May 19, 2016 at 1:13 PM, the-right-solution <
notifications@github.com> wrote:

[2016-05-20 16:23] the-right-solution commented on #41
Thanks for the response juggie, just started writing a plugin, fairly straight forward. I'm having one issue though, how can I get a user code for the event?

I looked at format_event function where you are using int(parameters[1:5]) to get the code, but it is not working in the plugin. The parameter just seems to contain partition number and not the user code

[2016-05-21 03:49] juggie commented on #41
I won't have time to test for a week (out of town) but from a quick look.

We cut the variable here: https://github.com/juggie/AlarmServer/blob/feature/tornado/core/envisalink.py#L104 (in a odd way too, woops!)

parameters is then passed to two different places, [format_event](https://github.com/juggie/AlarmServer/blob/feature/tornado/core/envisalink.py#L129) where you see it used but then also to

[2016-06-25 00:19] rct commented on #40
On the current version of feature/tornado from Juggie's repo, All time stamps are "4 hours ago".   Setting eventtimeago to False didn't seem to fix this.  I don't know if that's implemented. yet.

If I had to make a guess where 4 hours is coming from it is my offset from GMT.

[2016-06-25 00:45] juggie commented on #40
I will try to look at this weekend just moved been very busy.
On Jun 24, 2016 8:19 PM, "rct" <notifications@github.com> wrote:

[2016-06-25 01:25] rct opened #43 "Enabling TPI Time stamps breaks response parsing."
Tested with Tornado branch, probably somewhat expected:
Enabling TPI time stamps through the proxy breaks parsing, leaving alarm server in a broken state.

core/envisalink/handle_line generates a ValueError trying to parse 'HH:' with int().

If TPI timestamps are enabled, they stay enabled even after a disconnect/reconnect cycle.

The response format when them enabled is 'HH:MM:SS 500....'

Send a

[2016-06-25 01:28] rct commented on #43
There should probably be a separate issue opened for Tornado where exceptions due to parsing problems leave alarmserver running but broken after a "Future Exception was never retrieved".

[2016-06-25 01:44] rct opened #44 "Watchdog/polling to make sure AlarmServer, Envisalink Connection still working."
Tested with Tornado branch.   There doesn't appear to be any sort of watchdog/polling to catch if alarmserver still has a working connection to the envisalink.

Turning on Time Stamp broadcasts would make sure there are some periodic transmissions from the envisalink that could be used as a sort of heartbeat.

[2016-06-25 03:43] juggie commented on #43
Hey @rct I've never used TPI time stamps, but it would certainly be trivial to add support for them.  The parsing of the response could be done much better w/ a REGEX.  What is the use case though, do you trust the time more on your TPI then your python machine?

[2016-06-25 03:44] juggie commented on #44
Tornado should see the TCP disconnect, I did test this but I will test it again.

[2016-06-25 12:32] rct commented on #44
There are a number of cases where you won't see the TCP close, or won't see it close in a timely manner if you aren't writing to the connection.

Enabling TCP keepalives on the socket can help, but the interval is 2 hours on most systems before it will detect a broken connection.

So usually it's best to have some application level keep alive that periodically writes data and checks for a response

[2016-06-25 12:37] rct commented on #44
(I clearly need more coffee. sorry for the noise.)

For testing, it seems one could use AlarmServer's built-in proxy, to connect two Alarmserver instances, and simulate/inject a few errors.

[2016-06-25 12:44] rct commented on #43
I don't have a specific use case for this at the moment.  I saw this in the TPI docs as something new and not backward compatible.  AlarmServer might not use it, but some software connected to the proxy could enable it and break AlarmServer.

[2016-06-26 14:32] juggie commented on #43
@rct The only issue with the proxy and TPI is if one app were to request time stamps and one not.

[2016-07-01 21:06] rct opened #45 "Handle unknown TPI response codes gracefully. (tornado)"
AlarmServer should handle unknown TPI codes gracefully.

Currently with the feature/tornado branch, an unknown code generates a KeyError and then AlarmServer is broken but still running.

See #46 for an explanation of the 616 code which was added to TPI 1.07.

[code]

[2016-07-01 21:09] rct commented on #44
As an example issue #45, an unknown TPI code generated a keyerror exception, leaving AlarmServer running but not fully functional.

[2016-07-01 21:17] rct commented on #43
@juggie agreed, I think.
* AlarmServer should be able to handle TPI codes with/without timestamps.  So if a proxy connected app turns it on/off it doesn't affect AlarmServer.
* There is a the problem if someone is using two apps through the proxy and one enables timestamps, it might break the other app. Which is probably fine. That's the way the API is at this point. If it becomes a problem and so

[2016-07-01 21:44] rct opened #46 "Handle Zone Bypass Status Message TPI Code 616."
Recently TPI response 616 -  Zone Bypass Status was added to the TPI.  See See http://forum.eyez-on.com/FORUM/viewtopic.php?f=6&t=301&start=80.  NOTE: Envisacor has released DSC TPI 1.07 on June 1st, 2016

This command is issued upon leaving Zone Bypass programming (*1 on the keypad). It is a 16 character HEX string representing an 8 byte bitfield. This bitfield indicates which zones are currently

[2016-07-04 17:38] rct commented on #36
PR #48 has these changes so you don't have to deal with the .zip file.

[2016-07-04 17:41] rct commented on #40
Currently in tornado last event times are somewhat broken.
1. It doesn't look like a Zone Timer dump is ever requested.
2. The Zone Timer Dump isn't processed, there is no handler for it.

[2016-07-06 18:26] rct commented on #44
Currently tornado branch doesn't notice if the envisalink closes the connection.  Trying to write something (through the proxy at this point) causes a write to fail which then correctly triggers a reconnect

[2016-07-08 04:46] juggie opened #50 "Logging"
@rct

I cleaned up the logging to be what I think is a little better.  Let me know what you think and if it works ok for yo.

[2016-07-08 13:45] rct commented on #45
With #49 (tornado) it will now log the unknown message and keep processing normally.  Will add definition for the new zone bypass code, 616 shortly.

[2016-07-08 13:51] rct commented on #43
With #49 on the tornado branch, it won't matter if TPI timestamps are enabled or not. Currently the raw line is being passed through to proxy clients, so the issue of handling them is pushed downstream for now.

Nothing is being done with the TPI timestamps at the moment. The clock in my EVL-4 drifts pretty badly, around a second every 4 minutes. It looks like the EVL resets itself to about a minu

[2016-07-08 13:51] #43 closed

[2016-07-08 14:07] rct commented on #50
This looks good.   The queue is a nice solution to the chicken and egg problem.  I've tested with no log file, log file configured, and a log file that can't be created: no such directory and permission denied.  All looks good.

In the error cases where the log file can't be created, there is a python exception/stack trace that gives enough information for most people to figure out what's wrong.

[2016-07-08 21:31] juggie commented on #50
We can likely write to the log and fall back to console output if that fails.  I'll look at that later.

[2016-07-08 21:35] juggie commented on #44
Is there any command we could use as a 'ping' to keep the connection alive?  We could use the whole zone/partition dump but that is kind of noisy, is there anything else?

[2016-07-12 15:42] alexruffell commented on #38
@JoshNoble8604 - I have been running a Raspberry Pi, with a 4" LCD on its back to show AlarmServer's (TNX @juggie ) status messages, to interface to my SmartThings home automation setup (TNX @kholloway ). It has been running for quite a while now and it allowed me to use my DSC alarm sensors for automation purposes without having to add secondary sensors. I am always looking for ways to speed thin

[2016-07-16 18:50] juggie commented on #46
Patched by @rct

[2016-07-16 18:50] #46 closed

[2016-07-16 21:17] #36 closed

[2016-07-16 21:17] juggie commented on #33
Will merge this branch to master soon.

[2016-07-16 21:17] #33 closed

[2016-07-17 01:34] juggie commented on #50
@rct committed a fix for missing logfile to bail out to console.

[2016-08-21 22:43] gerstl commented on #9
Except that it pops up an authentication dialog in the browser even if authentication is disabled (no password or username set in alarmserver.cfg).

To fix, the check for auth_header in httpslistener_auth.py should be moved to after the the check for the config vars, see attached diff.

[alarmserver_diff.txt](https://github.com/juggie/AlarmServer/files/429140/alarmserver_diff.txt)

[2016-08-21 23:00] gerstl opened #54 "New tornado version doesn't work as iOS Homescreen Web App"
I just upgraded to the new tornado version (master branch) of AlarmServer, but this version doesn't seem to work as web app on an iDevice home screen. Used to work before.

I already deleted the icon and re-added it, but when launched as web app, it just shows the black "Alarm Server" banner on top, but otherwise an empty/blank page.

It all works fine in the Safari browser, just not as home scree

[2016-08-22 03:15] gerstl commented on #50
The fix now fails if the log file is missing: the logfile does not get created when it doesn't exist on launch.

Instead of using os.access(), which returns False if the file doesn't exist, even if it could be created, the proper way to handle the error conditions is to catch the corresponding exception.

Here is a diff, also includes a patch to return to lower the logging level if logging to a fi

[2016-08-23 04:14] gerstl commented on #54
It looks like the problem may be with Apple's caching policy for web apps, so it would just show some stale/old code/page.

Some Googling suggested to trick iOS into thinking that the page is dynamic (= can't be cached) by appending something like "/?refresh=1" to the URL. That seems to have worked (just be sure to not use "?v=xxx", since that tells tornado to serve a page that enforces caching).

[2016-08-24 09:14] ikishk commented on #40
not to nag... any update on this? (kinda fell off my radar)

[2016-08-25 02:05] juggie commented on #50
Fixed, in the future a pull request would be appreciated.

[2016-08-25 03:40] juggie commented on #54
I don't have an iDevice to test this on, but I think this was due to my use of StaticFileHandler for some stuff.  I've overridden it to enforce no-cache.   Let me know.

[2016-08-25 03:42] #50 closed

[2016-08-25 03:53] juggie commented on #40
Events not set to be in UTC but string indicated it was UTC.  Let me know if this fixes the issue, no need to add timezone configuration.

[2016-08-25 15:19] gerstl commented on #54
Hard to say. Still doesn't work here for me, but that may have to do with iOS still having the old version cached on my phone. Don't know how to purge the cache for web apps (apparently, that cache is different from Safari's cache, and iOS caches very aggressively for web apps). In other words, I don't understand enough about iOS web app development to really know what to do beyond that...

[2016-08-26 02:09] juggie commented on #54
So far as I can tell everything looks good and the no caching headers are properly set.  Without a ipad/iphone/etc to test on, I can't provide any further help.  I'd be happy to make the required changes if I knew what they were.

[2016-08-26 04:03] gerstl commented on #54
I am in the same boat, wouldn't know what is needed otherwise. The solution with using a link that includes a "/index.html?refresh=xxx" works for me, so I am good (BTW, note: for some odd reason, the workaround only works around for me if I explicitly link to index.html, just doing "/?refresh=xxx" didn't do it for me).

[2016-10-22 13:54] geoffwhittington opened #55 "Docker support"
Hello, is there any reason why this project can't work in a Docker container? I created one, which is admittedly simple, but I can't seem to get it to work. Perhaps my Docker kung fu is insufficient or there are some limitations I don't appreciate.

[2016-10-22 14:21] rct commented on #55
Not much to go on here -- What doesn't work?   Does it start?    Do you get a log file?   Are you having problems connecting to the alarm server's builtin web server?

Have you built the tornado python module into the container?

Did you forward the port to connect to the web server?

You might post the Dockerfile you are using to build the container and the command you are using to run it.

[2016-10-22 18:21] rct commented on #55
Ok, looks straightforward enough, without actually running it, my guess is that you are hitting a path issue.

So what happens when you try to run it?

[2016-10-22 18:23] geoffwhittington commented on #55
Thanks for your quick response. I'll do my best to respond, sorry my original post was lacking details.

I submitted a PR for the docker file, as an illustration. I build the Docker image as follows:

[code]

I create a directory on the host, `/home/geoff/config` where I put the alarmserver.cfg, server.key, server.crt, this is where the generated log file will go.

Run the image

``sudo docker run

[2016-10-22 18:28] geoffwhittington commented on #55
Sorry, user error. It works fine, sigh.

[2016-10-22 18:28] #55 closed

[2016-10-25 18:24] juggie commented on #55
Should work just fine but i've never tried personally.

On Sat, Oct 22, 2016 at 9:54 AM, geoffwhittington <notifications@github.com>
wrote:

[2016-11-08 01:20] ikishk commented on #40
that fixed it, thank you!

[2016-11-08 01:20] #40 closed

[2017-04-20 19:48] adrianmihalko opened #58 "Envisalink 4 compatibility"
I have DSC alarm and Envisalink 4 and I am trying to run your project.

All I got is an empty page at root and on /api
{"version": 0.3}

Do you have any idea how to get this work?
[output.log.txt](https://github.com/juggie/AlarmServer/files/945301/output.log.txt)

[2017-04-20 22:33] rct commented on #58
I'm running an EVL-4 for 9+ months, so it's not a compatibility problem.

Make sure logging is turned on and capture the log or stdout/stderr.

Can you provide some more info about your setup?

[2017-04-20 22:39] rct commented on #58
I didn't see that you provided a log file.   This python exception shouldn't be there.   Not sure if it's a tornado version problem or related to your config.

[code]

[2017-04-20 22:43] kholloway commented on #58
That error indicates that Python can't resolve the hostname that you gave it for your envisalink device. Make sure the DNS name resolvers or try replacing it with the actual IP of the envisalink device.

[2017-04-20 22:45] rct commented on #58
Looks like it might not be able to handle a dotted quad.
[code]

[2017-04-20 22:49] kholloway commented on #58
Why are the single quotes there? Wonder if the config value is quoted in the file, if that's the case remove the quotes and try again.

[2017-04-20 23:52] juggie commented on #58
Does your config have quotes in the host line?  If so remove them, it should be host=192..168.x.x

[2017-04-21 06:44] adrianmihalko commented on #58
Ahh, for some reason I had IP address in quotes. Removing quotes resolved the problem. It works very nicely now.

One more question: is there any "bypass zone" or even better to enter custom sequence feature?

[2017-04-21 14:06] rct opened #59 "Improve envisalink host not found handling."
Close this issue when a failure resolving the envisalink's host name is handled better.  It should be clear to the user from the logs and the UI that the problem is 'host not found'.

It should be also be clear to the user and the API that alarmserver isn't connected to the envisalink / is unable to connect.

When this came up in issue #58, it was due to a configuration file problem.

There are tw

[2017-04-22 02:30] juggie commented on #59
Needs better exception handling for sure.  If the host name can't be resolved, we should bail and exit.  There is already code to reconnect as I recall, would have to look.

[2017-04-24 16:37] Parkash067 opened #61 "certfile "" does not exist"
When I run alarmserver.py file I got this error , need help???

[2017-04-24 17:13] rct commented on #61
Your `alarmserver.cfg` must point to a certificate (.crt) and key (.key).   I think the links are blank in the `-example.cfg`.   There is an example cert included, though the README.md mentions how to create your own with OpenSSL.

[2017-04-24 21:02] adrianmihalko commented on #58
Guys, two more question:

-it is possible to change timezone from UTC? It showing me incorrect time, because I am in other timezone.
-I am thinking in Domoticz integration. I am looking for a simple way to call an url (domoticz's device change), when a zone is triggered. It is possible somehow? Other things can be done trough Alarmserver's API.

-Oh yeah, I asked this before, it is possible to ent

[2017-04-24 21:54] adrianmihalko commented on #23
Can you be more generic, how do I setup a notification for statechange? I have enabled Pushover, but I am not receiving any notification.

[2017-04-25 02:27] juggie commented on #58
The API is in UTC.  That's intentional.  Are you seeing UTC in the UI?  I see EDT (EST) correctly.  But the browser is doing the time  conversion in Javascript.

You can 100% write a Domoticz plugin.  Take a look at one of the existing plugins.  eg: https://github.com/juggie/AlarmServer/blob/master/plugins/pushbullet.py

I'm not sure what you mean by your final question.  It would totally be possi

[2017-04-25 02:27] juggie commented on #58
BTW, if you have further things, open a new issue.  This one has been fixed.

[2017-04-25 02:27] #58 closed

[2017-04-25 02:35] #59 closed

[2017-04-25 02:36] juggie commented on #23
Do you have any message in the logs when the stage change happens?

[2017-04-25 02:41] juggie commented on #23
@adrianmihalko  I just tested it btw, works perfect w/ push over.  This is an old issue.  If you have a issue with push over, please open a new ticket.  Make sure your push over ID is set properly in the config.

[2017-04-25 02:42] juggie commented on #44
@rct I assume this never got fixed?

[2017-04-25 02:45] juggie commented on #9
This is done, and bug above was fixed.

[2017-04-25 02:45] #9 closed

[2017-04-25 02:53] #30 closed

[2017-04-25 03:41] juggie commented on #44
@rct added keep alive to envisalink client using command 000 (had to break out the TPI docs again!).  Default is 60 seconds but can be overridden by config.  This solves 2 of the 3 problems you mentioned.

In the latter problem where exceptions in the parsing can cause issues, that is my crappy coding from when I wrote this many years ago.  Will need to revisit the code that parses the messages an

[2017-04-25 05:16] Parkash067 commented on #61
Thanks it worked

[2017-04-25 06:02] Parkash067 commented on #39
@vinodmudedla did you configured this server successfully?

[2017-04-25 06:05] Parkash067 opened #63 "Could not get any response -"
I am using Jessie OS on raspberrypi3 and also created SSL certificated using given command which is mention in the readme file but when I hit request http://192.168.0.xxx:8111/api  I didn't get any response on CLI I got these logs

SSL Error on 12 ('192.168.0.xxx', 33810): [SSL: HTTP_REQUEST] http request (_ssl.c:581)

[2017-04-25 13:50] #61 closed

[2017-04-25 13:52] rct commented on #63
Were you using a browser or something like curl?

Note: the certificate you generated won't be signed by a known certificate authority so it will generate a warning that must be bypassed in the browser.

[2017-04-25 14:41] Parkash067 commented on #63
Thanks for replying but this issue has resolved

[2017-04-25 20:41] adrianmihalko opened #64 "Understanding plugins, notification system"
I want to understand plugins to write my own for Domoticz. So I am trying to configure notification in alarmserver:

1,ifttt:

[ifttt_maker]
enable=True
key=xyxyxyxyxyxyxyxyxyxyx
eventName=alarmserver

Log:
[code]

2, Similar for pushover:

[pushover]
enable=True
usertoken=xyxyxyxyxyxyxxy

[code]

My first question: what I am doing wrong? And I would like to know: in default setup Alarmserver is s

[2017-04-25 22:13] #64 closed

[2017-04-26 22:42] juggie commented on #64
You resolved this issue?

[2017-05-05 20:58] adrianmihalko opened #66 "Implementing custom Keystroke command"
I really want to implement custom Keystroke command.

So I started to search in this topic and I found that I need to send '071' [command](https://github.com/openhab/openhab1-addons/wiki/DSC-Alarm-Action) to Envisalink:

`'071'	Keystroke String	1-6 Characters - [1-6 ASCII Character String]	Envisalink`

I started with httpslistener.py:

[code]
[code]
envisalink.py, I added:

[code]

(*106#1234 ===

[2017-05-05 21:18] adrianmihalko commented on #66
Then I tried another simple command to enable chime (*4):

[code]

...but the chime is not enabled and while executing the command there is no response (beeping) from alarm, like when I am entering manually on the KeyPad. I assume that alarm does not receive the command.

[2017-05-05 22:15] rct commented on #66
Interesting.  Two experiments to try after you enable the chime via send key press:

1. what happens if you go to a keypad and try to toggle the chime?  What state does it think the chime was  in at that point?
2. Separately, if you repeat the command via the envisalink send key press, which I think is a toggle, does it respond saying the chime is now disabled indicating that the state had changed

[2017-05-05 22:15] adrianmihalko commented on #66
I found the problem: I am trying to send too long commands.

But how I can send longer commands? Like *10602#, or *10602#1234?

[code]

Sending a single command works, example: *106#,*4#.

Maybe can I send more commands one after another like *106# + *102# +*101# etc... then arm?

One more question: why is there no audio feedback when I enable/disable chime trough Envisalink?

[2017-05-05 22:29] rct commented on #66
@adrianmihalko -

I have two keypads, if I remember correctly, when I toggle the chime from one, it doesn't beep the other keypad.

It's been a while since I looked at this, need to go back the TPI manual and/or the envisalink forum, but - off the top of my head:

- For user codes, there is a sequence, where you send a command that requires a user code, without the code
   - The envisalink respond

[2017-05-05 22:39] adrianmihalko commented on #66
Thank you, then I have to look further into this question this weekend.

I attach my current code, maybe someone would find it useful:

[envisalink.py.txt](https://github.com/juggie/AlarmServer/files/980461/envisalink.py.txt)
[httpslistener.py.txt](https://github.com/juggie/AlarmServer/files/980462/httpslistener.py.txt)

`$curl "https://192.168..x.xx:8111/api/keystroke?sequence=*4#"`

[2017-05-05 22:47] rct commented on #44
@juggie, I never got back to working on this.  I needed to learn more about Tornado first.    I looked over the implementation, looks good.  From what I can tell, not knowing tornadio, it should accomplish forcing the connection to break if something happens, like the envisalink got unexpectedly rebooted.

The thing that I think needs to be done is the timer check to verify that something has actu

[2017-05-05 22:49] rct commented on #66
I'll take a look, is it in a branch on your repo?

This functionality would be useful to have implemented in the main code, maybe controlled by a configuration to disable it.  So I hope you'll submit a PR at some point.

[2017-05-05 22:50] #63 closed

[2017-05-05 22:55] adrianmihalko commented on #66
Yep, just uploaded:

https://github.com/adrianmihalko/AlarmServer

[2017-05-05 23:09] adrianmihalko commented on #66
One more info:

I don't know if following project is a fork from this project, but it does have implemented the bypass zone function:

[](https://github.com/juggie/AlarmServer)

[code]

Isn't this what we are looking for?
Too bad I am not too good in python. 👎

[2017-05-05 23:14] rct commented on #44
@juggie - My thinking at the time was that it would be good to implement a send queue, and track state.  Every command should get an immediate response from the envisalink.  We should be able to figure out whether each command sent got a successful response or not.

States:
idle -> commands to send -> sent/waiting for command response -> brief wait to drain additional responses -> back to either c

[2017-05-06 01:00] rct commented on #66
@adrianmihalko - There is no link, what repo did you find that in?   I can't tell from that snippet whether it's from the pre-tornado version or not.  Or whether it matters.  Hopefully @juggie can take a look.

Certainly we'd all like that, and other functionality, to have a robust, complete api in AlarmServer.

Also, I think there is a relatively recent (< 1 year old) envisalink response that sho

[2017-05-06 17:58] adrianmihalko commented on #66
Ahh, sorry, I forgot the link:

https://github.com/LXXero/DSCAlarm/

It seem to be actively developed, but it's modified for Smartthings(?!):

https://community.smartthings.com/t/dsc-evl-3-4-alarmserver-smartthings/

[2017-05-07 22:56] juggie commented on #44
@rct As I thought about this, I realized the timer to send the ping to the envisalink could interfere with other commands.  And more so, while sending custom, multiline commands.

[2017-05-09 14:30] rct commented on #44
@juggie - to get the desired behavior, the timer should be set (and reset) after data is received from the envisalink.  The interval starts after last receive, if more data comes in the current timer gets cancelled and reset.  This should cause the ping to only be sent after there has been no activity for the timer interval.

It would still be possible to interrupt a multi-command key press sequen

[2017-05-18 01:23] juggie commented on #44
@rct Had some spare time (i'm at a conference) and took another stab at this.  I wanted to do it a little more elegantly, but remove_timer does not work properly.

[2017-05-18 01:39] juggie commented on #66
@adrianmihalko That looks ok to me, did you try that change to see if it would work for you?  Do you need me to create a branch with the change so you can try it out?

[2017-05-18 17:08] adrianmihalko commented on #66
@juggie I checked LXXero's code and I found this relevant part:

[code]

This is what I need? It would be great if you could make a new beta branch with this modification.

Other:

Sadly, Alarmserver runs for 1-2 day only. I see it in the list of running processes:

[code]

[code]

(current time when I wrote this: 18.05.2017, 19:05) -> nothing else is in the log, just sitting here.

Even the webin

[2017-05-18 17:25] juggie commented on #66
Do you have the full log eg including the last envisalink event?

[2017-05-18 17:26] juggie commented on #66
Looks like you have not updated as well.  Pull the latest version as I added a keep alive for envisalink.

[2017-05-18 17:27] adrianmihalko commented on #66
Ahh, this is the new keepalive function is for. We'll see, I update ASAP. Thank you.

[2017-05-18 17:30] juggie commented on #66
@adrianmihalko Give it a try and let me know.  I'll try to replicate issues on my unit but I have no issues with it running for weeks.

[2017-07-13 17:34] adrianmihalko commented on #66
With keep alive it is very stable, it's running several weeks now.

[2017-08-22 16:49] rct commented on #44
Minor detail noticed during attempts at some testing.  This keeps firing even after the connection is lost and reconnects are attempted, so it will keep generating AttributeError: 'NoneType' object has no attribute 'write'.

[2017-08-22 16:57] rct commented on #45
Reopening - This isn't working as intended.

I maybe misunderstanding things, but I'm guessing there is a structural problem with envisalink.py:handle_line().   All of the error handling in handle_line does a return which I *think* breaks things because that means the code never gets to the yield which causes the next read to occur.

Actually maybe this should be a separate/new issue.

[2017-08-30 16:37] rct opened #69 "Verbose Trouble Status handling"
Verbose Trouble Status should be "better" handled to track bit field, display status in html, make bits available in JSON.

The test/use case (at least for me), Wireless Keypad Low Battery, generates a trouble LED on, and a verbose trouble status.  However, no other zone messages are sent, there is no zone message.   If you manually parse out the verbose trouble status bits, you can see the troubl

[2017-09-01 19:01] #17 closed

[2017-10-01 15:55] afsabresfan commented on #39
I’m hoping to get the system that was already installed in my newly purchased house set up so I can use the sensors. Definitely hoping for an update or answer to this one bc I’m not the best at this kind of stuff! Any help would be greatly appreciated!

[2017-10-01 18:03] rct commented on #39
@afsabresfan - Is your panel working?  What kind of panel?  Do you have an Envisalink already installed?

Note: this code is only for the Envisalink connected to a DSC panel.  Some companies like ADT use DSC panels.  I believe there is a fork of AlarmServer for Honeywell Vista panels.

[2017-10-03 10:23] afsabresfan commented on #39
I have a Honeywell Ademco Lynxr-I panel but I haven’t done any work with Envisalink because I want to make sure I have the capability to actually do it before I spend money.

[2018-01-12 15:37] mingzwork opened #70 "Is honeywell 20p supportted?"
Sorry this is not a issue, but I would like to find out before make the purchase.

[2018-01-12 19:23] rct commented on #70
This should probably be added to the README.   While the envisalink module can wotk with either DSC or Honeywell panels, the API (and TPI codes) are *different*.  AlarmServer is for DSC panels.

There are forks of AlarmServer for Honeywell.  I'm not familiar with them.  The first one I found when searching github is https://github.com/MattTW/HoneyAlarmServer.

I don't know if any of the Honeywell

[2018-01-27 11:39] adrianmihalko commented on #66
Is there anybody who implemented bypass multiple zones feature?

[2018-02-05 21:50] MagnusPer opened #71 "Integration to Athom Homey"
Anyone plan to create an App supporting [Envisalink](http://www.eyezon.com/?page_id=176) for [Homey](https://www.athom.com/en/). I'm the first to help out with the tests.

[2018-02-05 23:42] kholloway commented on #71
Looks like it supports running nodejs right on the device as well as webhooks so you could either write a plugin that calls webhooks or write a native nodejs app that talks directly to your Envisalink. Interesting little device!

[2018-02-17 19:17] Aaron792000 opened #72 "install core import httpslistener"
I have the server running on one machine just fine, but trying to install on another machine. [windows 10] w/ python 2.7.14 and get this error when trying to load.

C:\AlarmServer>AlarmServer.py
Traceback (most recent call last):
  File "C:\AlarmServer\alarmserver.py", line 17, in <module>
    from core import httpslistener
  File "C:\AlarmServer\core\httpslistener.py", line 5, in <module>
    imp

[2018-02-17 19:19] juggie commented on #72
Use pip and install tornado.

On Sat, Feb 17, 2018 at 2:17 PM, Aaron792000 <notifications@github.com>
wrote:

[2018-02-17 19:35] Aaron792000 commented on #72
Thanks! Think that may have been the issue.  Sorry not versed in Python.

[2018-02-17 21:37] rct commented on #72
FYI - Some packaging (like Linux OS distributions) package Tornado in multiple packages.  A base tornado package and some additional packages with additional tornado modules.  I don't remember which OS, but on something I tried (Fedora, CentOS, raspbian???) I searched for available tornado packages and found what I needed.

[2018-03-08 15:35] armandom123 opened #73 "Odd issue - switching from stay to away if alarmserver restarts"
Have had a weird issue in the last few days.  If I set the alarm to stay (either manually or through SmartThings) and coincidentally the server where alarmserver sits restarts, the mode is automatically changed to away.  So when we go downstairs in the morning, alarm goes off.  Not ideal.

I can replicate this by having the alarm in stay mode.  Restarting the service and watching the logs as per b

[2018-03-09 00:19] juggie commented on #73
This is strange.  There is no reason a restart of alarm server should change the state of your alarm.

Do you have the rest of the log?  Everything you pasted was RX (received) from your envisalink.  I'd be looking for any TX lines.  But, nothing in that log would explain why it changed from Stay -> Away all by itself without being requested to do any action.

[2019-04-15 16:29] anupchavda1 opened #75 "SSL Error"
When i try to access the UI from a browser (localhost:8111) the browser shows Connection reset and the log shows
Apr 15 17:27:25 - WARNING: SSL Error on 12 ('192.168.1.8', 34972): [SSL: HTTP_REQUEST] http request (_ssl.c:661)

I am using the test certs and keys but cannot pull up the UI

any ideas?

[2019-05-08 23:33] SirMaple opened #76 "Feature Request - Move Pushover Token to alarmserver.cfg"
Would it be possible to have the ALARMSERVER_PUSHOVER_TOKEN in pushover.py moved to  alarmserver.cfg?

I prefer to setup my own Pushover apps.

[2019-08-03 16:21] #76 closed

[2019-08-03 20:05] SirMaple opened #77 "Issue with Pushover alerts."
I have pushover enabled in my alarmserver.cfg and I also have the following:

`## Define the event codes you want callbacks for, the codes below`
`## cover zone open/close, partition ready, not ready, armed, exit delay, entry delay and in alarm status`
`## these should cover most use cases`
`event_codes=601,602,700,701,750,751`

But why on earth do it get flooded with alerts when a zone opens and

[2019-08-03 20:06] adrianmihalko commented on #77
I am not using this project anymore, but I suggest you to switch to Home Assistant which has 100% and good working support for Envisalink. With Home Assitant you can do anything you want.

[2019-08-04 20:39] SirMaple commented on #77
I figured a way around this issue.

I simply send certain message received to my LibreNMS server using system and setup alerts there.

I added the following to my rsyslog.conf:
`if $msg contains '601' then @@192.168.0.145
`if $msg contains '602' then @@192.168.0.145
`if $msg contains '700' then @@192.168.0.145
`if $msg contains '701' then @@192.168.0.145
`if $msg contains '750' then @@192.168.0.14

[2019-08-04 20:39] #77 closed